<div class="panel panel-primary" id="printTable1">
    <div class="panel-body">
        <table class="table table-bordered" id="stationListTable">
            <thead>
                <tr>
                    <th>Şehir</th>
                    <th>Güzergah Tipi</th>
                    <th>Güzergah</th>
                    <th>Güzergah Toplam Süre</th>
                    <th>Peron No</th>
                    <th>Servis Aracı</th>
                    <th>Durak Adı</th>
                    <th>Durak No</th>
                    <th>Varış Saati(TMMT'den)</th>
                    <th>Kalkış Saati(TMMT'ye)</th>
                </tr>
            </thead>
            <tbody id="stationListServicesTable">
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>