body{
    background-color: #d7d7d7;
}
#main{
    padding: 15px;
    width: 95%;
    margin: 0 auto;
}
#breadcrumb{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:20px ;
    margin-right:20px ;
}
table thead tr th{
    text-align: center;
}
table{
    text-align: center;
}
